body {
  font-family: Helvetica, sans-serif;
  padding: 2em;
  background: #fafafa; }

nav ul {
  margin: 0;
  padding: 6px;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto; } }

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px; }
  .aside-1 {
    order: 1; }
  .main {
    order: 2; }
  .aside-2 {
    order: 3; }
  .footer {
    order: 4; } }

.grid .grid-item {
  width: 190px;
  background: #fff;
  min-height: 200px;
  max-height: 350px;
  padding: 0px 10px 5px 10px;
  margin: 10px;
  margin-top: 10px;
  float: left;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

.grid .grid-item:nth-child(4n+0) {
  background-color: #f2ece4; }

.grid .grid-item:nth-child(4n+1) {
  background-color: lightgrey; }

.grid .grid-item:nth-child(4n+2) {
  background-color: #fafafa; }

.grid .grid-item:nth-child(4n+3) {
  background-color: #dadbdf; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.addingForm {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10000;
  top: 17px;
  margin-left: -320px;
  left: 50%; }
  .addingForm object {
    width: 700px;
    height: 920px; }

.overlay {
  background: transparent url(../images/overlay.png) repeat top left;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  z-index: 9999; }
