$font-stack: Helvetica, sans-serif;

$padding: 6px;

$red-background: red;

$placeholder-color: lightgrey;

$dawn-pink: #f2ece4;
$iron: #dadbdf;
$wafer: #e1d7d2;
$nebula: #d2e1dd;

body {
    font: $font-stack;
    padding: 2em;
    background-image: url('Content/images/bg.png');
}

nav {
  ul {
    margin: 0;
    padding: $padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: none;
  }
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.grid{
   
    .grid-item { 
        width: 190px; 
        background: #fff;
        min-height:200px;
        max-height:350px;
        padding: 0px 10px 5px 10px;
        margin:10px;
        margin-top:10px;
        float: left;
        border: 2px solid #333;
        border-color: hsla(0, 0%, 0%, 0.5);
        border-radius: 5px;
    }

    .grid-item:nth-child(4n+0){
        background-color: $dawn-pink;
    }

    .grid-item:nth-child(4n+1) {
        background-color: lightgrey;
    }

    .grid-item:nth-child(4n+2) {
        background-color: $red-background;
    }
        
    .grid-item:nth-child(4n+3) {
        background-color: $iron;
    }
}
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

.form-group {
    :-moz-placeholder {
        color: $placeholder-color;
    }
    ::-webkit-input-placeholder {
        color: $placeholder-color;
    }
        ul {
        width: 750px;
        list-style-type: none;
        list-style-position: outside;
        margin: 0px;
        padding: 0px;
    }
    li {
        padding: 6px; 
        border-bottom:1 px solid #eee;
        position: relative;
    }
    
    label {
        display: inline-block;
        float: left;
        font-weight: 700;
        width: 100px;
        padding: 3px;
    }
    input {
        width: 300px;
        height: 30px;
        padding: 5px 7px;
    }
    textarea {
        padding: 8px;
        width: 300px;
    }
    input, textarea {
        border:1px solid #aaa;
        box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
        border-radius:2px;
    }
    input:focus, textarea:focus {
        background: #fff; 
        border:1px solid #555; 
        box-shadow: 0 0 3px #aaa; 
    }
    button {
        margin-left: 100px;
    }
}

